body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive, Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
}

input {
   height: 40px;
   border-radius: 8px;
   border: solid 1px #dddddd;
   padding: 0px 10px;
   margin: 5px 10px;
   font-size: 1em;
}

button {
  position: relative;
  bottom: 2px;
  padding: 12px 8px;
  border-radius: 8px;
  border: solid 1px #dddddd;
}
